.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    font-size: 22px;
}

.tab {
    padding: 10px;
    font-weight: bold;
}

.tab:hover {
    background-color: #000;
    color: white;
    border-radius: 10px;
}

.active {
    border-bottom: 3px solid black;
}

#content {
    font-size: 22px;
    line-height: 2;
    margin-left: 1%;
}

.show {
    display: block;
}